@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-purple-brand font-body;
}

a {
  @apply text-purple-brand underline-offset-4 hover:text-gold-brand;
}

button {
  @apply font-semibold;
}
